.App {
  text-align: center;
}
/* Adjust the position of the sidebar */
.Sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width:170px;
  height: 100%;
  background-color: #424a58; /* Set your preferred background color */
  padding: 20px; /* Add padding for better spacing */
}

/* Style the ToggleSwitch class for the switch container */
.ToggleSwitch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 30px;
  background-color: #f81313;
  border-radius: 30px;
}

/* Style the Slider class for the switch handle */
.Slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #11ce3a;
  border-radius: 30px;
  transition: 0.4s;
}

/* Style the On and Off classes for the switch appearance */
.On .Slider {
  transform: translateX(30px);
}

.Off .Slider {
  transform: translateX(0);
}
.App-logo {
  height: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin-clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin-counterclockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
